.layout {
  height: calc(100vh - 64px);
}

.sider {
  height: 100%;
  padding: 4px 0;
  background-color: #fff !important;
  overflow: auto;
}

.content {
  height: 100%;
  padding: 24px;
  overflow: auto;
}
