@import './styles/antd.css';

body {
  width: 350px;
}

#edit-form .ant-form-item:not(:last-of-type) {
  margin-bottom: 8px;
}

#edit-form .ant-form-item:last-of-type {
  margin-top: 16px;
  margin-bottom: 0px;
}

#edit-form .ant-form-item-label {
  padding-bottom: 0;
}

#edit-form .ant-form-item-explain {
  display: none;
}

#list tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

#list tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}
