@import './styles/antd.css';

body {
  width: 350px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
}

#edit-form .ant-form-item:not(:last-of-type) {
  margin-bottom: 8px;
}

#edit-form .ant-form-item:last-of-type {
  margin-top: 16px;
  margin-bottom: 0px;
}

#edit-form .ant-form-item-label {
  padding-bottom: 0;
}

#edit-form .ant-form-item-explain {
  display: none;
}

#list tr.drop-over-downward td {
  border-bottom: 2px solid #1890ff;
}

#list tr.drop-over-upward td {
  border-top: 2px solid #1890ff;
}

#list td.dragable-table-cell {
  cursor: ns-resize;
}

#list .ant-table-content,
#list .ant-table-body {
  overflow-y: auto;
  max-height: 540px;
}

#list .ant-table-footer {
  text-align: center;
}
