@import './styles/antd.css';

body {
  width: 350px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
}

#edit-form > .ant-form-item {
  margin-bottom: 8px;
}

#edit-form .ant-form-item-label {
  padding-bottom: 0;
}

#edit-form .ant-form-item-explain {
  display: none;
}

#edit-form #mode.ant-radio-group {
  width: 100%;
}

#edit-form #mode.ant-radio-group .ant-radio-button-wrapper {
  width: 33.3%;
  text-align: center;
}

#edit-form #host {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#edit-form .ant-input-number {
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#list tr.drop-over-downward td {
  border-bottom: 2px solid #1890ff;
}

#list tr.drop-over-upward td {
  border-top: 2px solid #1890ff;
}

#list td.dragable-table-cell {
  cursor: ns-resize;
}

#list .ant-table-content,
#list .ant-table-body {
  overflow-y: auto;
  max-height: 500px;
}

#list .ant-table-footer {
  text-align: center;
}
